{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}To-Do App{% endblock %}</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

  <div class="md-app-bar">
    <div>
      <a href="{% url 'task_list' %}">To-Do App</a>
    </div>
    <div>
      {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Logout</a>
      {% else %}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'register' %}">Register</a>
      {% endif %}
    </div>
  </div>

  <div class="md-container">
    {% block content %}{% endblock %}
  </div>

</body>
</html>
